h1, h2, h3, h4, h5, h6, span, p, html, body {
  margin: 0%;
  padding: 0%; }

html {
  height: 100%;
  width: 100%; }
  html body {
    height: 100%;
    width: 100%; }
    html body #form1 {
      height: 100%;
      width: 100%; }
      html body #form1 header {
        height: 8%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-content: center;
        background-color: #DCC7AA; }
        html body #form1 header h1 {
          color: #FFFFFF; }
      html body #form1 .menu-page {
        height: 8%;
        width: 100%;
        background-color: #DCC7AA;
        display: flex;
        justify-content: center;
        align-content: center; }
        html body #form1 .menu-page ul {
          width: 100% !important;
          display: flex;
          justify-content: center;
          align-content: center; }
          html body #form1 .menu-page ul a.level2 {
            width: 100px;
            background-color: #F7882F;
            padding: 0.7rem;
            border-radius: 5px;
            margin: 0px 0.7rem 0px 0.7rem;
            text-align: center;
            color: #6B7A8F;
            font-weight: bold;
            font-size: 18px; }
      html body #form1 .content-page {
        height: 79%;
        width: 100%; }
      html body #form1 footer {
        height: 5%;
        width: 100%;
        background-color: #6B7A8F;
        color: #FFFFFF;
        text-align: center; }
